.button
    padding .5rem 1rem
    transition all .35s ease
    span
        padding-left .3rem
    &:hover
        box-shadow .2rem .2rem .8rem #888
    &.button--submit
        background-color $blue
        color #fff
        width 80%
        padding 1rem
        font-size 1.1rem
        border none
    &.button--none
        border none
    &.button--primary
        color #fff
        background-color $blue
    &.button--danger
        color #fff
        background-color $alert-font-error-color
    &.button--success
        background-color $alert-font-success-color
    &.button--radius
        border-radius .3rem
    &[disabled]
        background-color #eee
        color grey
        &:hover
            box-shadow none
