@import './variable'
@require './normalize'
@require './mask'
@require './animate'
@require './form'
body
  font-family "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;

a
  color #ffffff
  text-decoration none
  &:visited
    color #ffffff

::selection
    background-color #ddd

.button
    padding .5rem 1rem
    transition all .35s ease
    span
        padding-left .3rem
    &:hover
        box-shadow .2rem .2rem .8rem #888


// label 样式，全局的
.label
    display inline-block
    background-color lighten($header-color, 20%)
    color darken(#888, 10%)
    padding .5rem 1rem
    border-radius .5rem
