@require './normalize'

body
  font-family "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;

a
  color #ffffff
  text-decoration none
  &:visited
    color #ffffff

