.table
    width 100%
    text-align center
    tr
        padding 1rem
        border-spaing 2rem
    td
        padding 1rem
    &.table--border
        border-color grey
        td
            border 1px solid darken(#ddd, 10%)
            vertical-align middle
