flex-design()
    display flex
    flex 1
flex-center()
    justify-content center
    align-items center
media-width()
    width 80%
    @media screen and (max-width: 768px)
        width 100%


$header-color = #286090
$header-second-color = #d33131

$alert-container-error-color = #ffbbbb
$alert-font-error-color = #d33131

$alert-container-success-color = #BFF19A
$alert-font-success-color = #7ac70c


$image-size-at-list = 95%
$image-size-at-department-card = 15rem
$image-size-at-header-user-avatar = 3rem

$panel-bgc = #ddd

$blue = #3F81C1

$lite-green = #dfa
