flex-design()
    display: flex
    flex: 1
media-width()
    width 80%
    @media screen and (max-width: 768px)
        width 100%


$header-color = teal

$alert-container-error-color = #ffbbbb
$alert-font-error-color = #d33131

$alert-container-success-color = #BFF19A
$alert-font-success-color = #7ac70c


$image-size-at-list = 13rem

$panel-bgc = #ddd
